@keyframes left_hide {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
        display: none;
    }
}

@keyframes left_show {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        display: none;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes right_hide {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
        display: none;
    }
}

@keyframes right_show {
    0% {
        transform: translateX(100%);
        opacity: 0;
        display: none;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*forwards*/