html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    --appicon-size: 25px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #00000000;
}

.body_cont {
    width: 100%;
    height: 100%;
}

* {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.noappdrag, .noappdrag > * {
    -webkit-app-region: no-drag;
}

#bodydiv {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: center;
}

button {
    border-radius: 5px;
}

button:hover, .evt_hover:hover {
    background-color: rgba(128, 128, 128, 0.25);
}
